@import '@folio/stripes-components/lib/variables';

.fieldGroupWrap {
  display: flex;
}

.field {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  width: 29%;

  &:nth-of-type(4) {
    margin-right: calc(var(--font-size-x-small)*2);
  }

  &.indicator {
    width: 21%;
    min-width: 55px;
  }
}

.icon {
  margin-left: -1.4rem;
  color: var(--error);
}
