@import '@folio/stripes-components/lib/variables';

.fieldGroupWrap {
  display: flex;
}

.field {
  margin-left: 0.5rem;

  &:nth-of-type(4) {
    margin-right: calc(var(--font-size-x-small)*2);
  }

  &.indicator {
    width: 100%;
  }

  &.isInvalid > div > div {
    border-color: var(--error);
  }
}

.icon {
  margin-left: -1.4rem;
  color: var(--error);
}
